* {
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
}
/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 30px;
}

.nav-title {
    font-size: 60px;
    font-weight: 800;
}

.nav-text {
    color: coral;

}

.btn-primary {
    background-color: orange;
    color: white;
    border-radius: 5px;
    height: 64px;
    width: 150px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 2px 2px;
}
/*div styles*/
.header{
    background-color: antiquewhite;
    background-image: url('../prot-images/header_bg.png'), url('../prot-images/developer.png');
    background-position: bottom right, left;
    background-repeat: no-repeat;

}
.div-ban {
    display: flex;
    margin: 10px 200px;
    align-items: center;
}

.div-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 0px;
}

.div-subtitle {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 45px;
}

.div-descrip {
    margin-bottom: 10px;
    color: rgba(50, 212, 212, 0.992);
    font-size: 18px;
}
/* Main style*/
main{
    margin: 0 auto;
    max-width: 1140;
}
/*section style about me*/
.about-sec{
    margin-top: 50px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 150px 150px;
    text-align: center;
}
.sec-title{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sec-descrip{
    font-size: 18px;
    color: rgb(17, 47, 37);
    margin-bottom: 30px;
}
.about-container{
    display: flex;
    justify-content: space-around;
}
.ifo-title{
    font-size: 20px;
    color: rgb(33, 206, 206);
}
.info-descrip{
    font-weight: 700;
    font-size: 20px;
    color: rgb(49, 11, 84);
}
.what{
    background-color: beige;
    margin: 20px 30px;
}
.what-title{
     text-align: center;
     margin-top: 130px;
     font-size: 35px;
    font-weight: 700;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background-color: azure;
    box-shadow: 0px 6px 50px;
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
     font-weight: 700;
     font-size: 20px;
     margin-top: 30px;
     margin-bottom: 20px;
}
.skill-descrip{
  font-size: 16px;
  color: rgb(16, 50, 38);

}
.resume{
 margin-top: 130px;
}
.re-title{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.re-items{
    margin-top: 30px;
    margin-bottom: 30px;
}
.reitem-one{
    color: rgb(13, 131, 234);
    font-weight: 700;
    font-size: 25px;
     margin-bottom: 10px;
}
.reitem-two{
    color: rgb(102, 173, 236);
    font-weight: 600;
    font-size: 20px;
}
.re-des{
      color: rgb(159, 192, 220);
      margin-top: 20px;
}
.re-button{
    text-align: center;
    margin-top: 50px;
}
.contact{
    display: flex;
    background-color: rgb(193, 213, 207);
    gap: 100px;
    padding: 130px 200px;
}
.connect1{
    text-align: left;
}
.con-form input, textarea{   
    margin-bottom: 24px;
    border: 0;
    padding-left: 18px 30px;
    width: 100%;

}
input{
    height: 50px;
}
.contact a{
    text-decoration: none;
}